:root{--primary-color:#181818}
*,:after,:before{box-sizing:border-box}
*{margin:0;padding:0;font:inherit}
img,picture,svg,video{display:block;max-width:100%}
input,select,textarea{background-color:transparent;outline:0}
button{cursor:pointer;background-color:transparent;outline:0;border:0}
body{min-height:100vh;font-weight:400;font-size:16px;line-height:1}
.wrap-content{max-width:1220px;margin:0 auto;padding:0 10px}
.header__top{background:#181818;padding:12px 0}
.header__top p{color:#fff;text-align:center;font-family:Roboto;font-size:14px;font-style:normal;font-weight:400;line-height:normal}
.header__middle{display:flex;justify-content:space-between;align-items:center}
.middle__right{display:flex;align-items:center;gap:55px}
.middle__right--item a{display:flex;align-items:center;text-decoration:none;color:#333;text-align:center;font-family:Roboto;font-size:14px;font-style:normal;font-weight:500;line-height:normal;gap:7px}
.search.w-clear{display:flex;border-radius:500px;background:#f5f5f5;box-shadow:0 1px 4px 0 rgba(0,0,0,.25) inset;height:45px;align-items:center;padding:0 25px;width:452px;justify-content:space-between}
.search.w-clear input{border:unset;height:100%}
.search.w-clear input::placeholder{color:#b6b7b9;font-family:Roboto;font-size:14px;font-style:normal;font-weight:500;line-height:normal}
.menu ul{width:100%;padding:0;margin:0;list-style:none}
.menu ul.primary-menu{display:flex;align-items:center;width:-moz-fit-content;width:100%;padding:0;margin:0;list-style:none;justify-content:space-between}
.menu ul.primary-menu>li{text-align:center}
.menu ul.primary-menu>li>a{white-space:nowrap;display:flex;align-items:center;color:#000;font-size:16px;font-style:normal;font-weight:500;padding:13px 0;gap:4px;line-height:24px;color:#333;text-align:center;font-family:Roboto;font-size:16px;font-style:normal;font-weight:600;line-height:normal;text-transform:uppercase}
.menu ul li{position:relative;z-index:1}
.menu ul li .d-flex{align-items:center;gap:10px;margin-left:20px}
.menu ul li .d-flex .icon-search i{font-size:20px}
.menu ul li .d-flex .cart{font-size:20px;padding:5px;color:#212529;position:relative}
.menu ul li .d-flex .cart:hover{color:#fb4141}
.menu ul li .d-flex .cart .count-cart{position:absolute;top:0;right:0;color:#fff;width:15px;height:15px;background:#ec2d3f;text-align:center;line-height:15px;font-size:11px;border-radius:100%;z-index:1000}
.menu ul li a{display:block;position:relative;font-size:13px;color:#333;text-decoration:none!important}
.menu ul li a.has-child{padding-right:16px;margin-right:8px}
.menu ul li a.has-child::after{content:"";position:absolute;bottom:calc(50% - 2px);right:5px;width:5px;height:5px;border:1px solid #fafafa;border-top:0;border-left:0;transform:rotate(45deg);transition:all .3s ease-out}
.menu ul li a.active.has-child:after,.menu ul li:hover>a.has-child:after{color:#1e4071}
.menu ul li ul{position:absolute;min-width:250px;background-color:#fafafa;border-radius:.25rem;box-shadow:1px 1px 15px rgba(0,0,0,.15);transform-origin:0 0 0;opacity:0;visibility:hidden;transition:all .5s;top:0}
.menu ul li:hover>ul{opacity:1;visibility:visible;transition:all .5s;top: 48px;}
.menu ul li ul li{padding-left:.75rem;padding-right:.75rem}
.menu ul li ul li a{border-bottom:1px solid #ececec;color:#1e1e1e;text-align:left;font-family: 'Roboto';font-size:16px;font-style:normal;font-weight:500;line-height:normal;text-transform:capitalize}
.menu ul li ul li:last-child>a{border-bottom:0}
.menu ul li ul li a.has-child{margin-right:0}
.menu ul li ul li a.has-child:after{border-color:#313131;transform:rotate(-45deg)}
.menu ul li ul li a.active,.menu ul li ul li:hover>a{color:#000}
.menu ul li ul li a.active.has-child:after,.menu ul li ul li:hover>a.has-child:after{border-color:#1e4071}
.menu ul li ul li a{padding:15px 0 15px 0;text-transform:capitalize}
.menu ul li ul li ul{top:0;left:100%;margin-top:0}
.menu__contaner{background:#fff;box-shadow:0 4px 4px 0 rgba(0,0,0,.25);border-top:1px solid #b6b7b9;margin-top:10px}
.slide__container{display:flex;gap:12px;padding:19px 0 10px 0}
.slide__main{width:calc(100% - 340px);padding-bottom:10px}
.slide__subs{width:331px}
.slide__main,.slide__subs{height:100%;box-shadow:none}
.slide__sub{margin-bottom:12px}
section.section-slider.position-relative{background:url(../images/bg__slide.png);background-repeat:no-repeat;background-size:cover}
.ProductBestSeller__Wrap{border-radius:15px 15px 0 0;background:linear-gradient(180deg,#14163c 0,#353796 34%,#fff 87%);padding:35px 0}
.title-main h2{color:#333;font-family:Roboto;font-size:24px;font-style:normal;font-weight:600;line-height:normal;display:flex;justify-content:center;align-items:center;text-transform: uppercase;}
.title-main.title-white h2{color:#fff}
section#ProductBestSeller{padding:15px 0}
.title-main{text-align:center;margin-bottom:30px}
.product{border-radius:10px;background:#fff;box-shadow:0 0 10px 0 rgba(0,0,0,.15);padding:18px;position:relative}
.ProductBestSeller__list{display:grid;grid-template-columns:repeat(4,1fr);padding:0 15px;gap:10px}
.product_content h3{color:#333;font-family:Roboto;font-size:16px;font-style:normal;font-weight:600;line-height:normal;margin:5px 0;min-height: 48px;}
a.box-product.text-decoration-none{text-decoration:none}
.product__info__more span{color:#fb8918;text-align:center;font-family:Roboto;font-size:10px;font-style:normal;font-weight:600;line-height:normal}
.product__info__more span b{color:#898989;font-family:Roboto;font-size:10px;font-style:normal;font-weight:500;line-height:normal}
.product__info__more span{display:flex;align-items:center}
span.price-old{color:#898989;font-family:Roboto;font-size:14px;font-style:normal;font-weight:600;line-height:normal;text-decoration-line:line-through}
span.price-new{color:#d4001b;text-align:right;font-family:Roboto;font-size:16px;font-style:normal;font-weight:600;line-height:normal}
p.pic-product.scale-img img{width:240px;object-fit:contain;display:flex;justify-content:center}
p.pic-product.scale-img{text-align:center;display:flex;justify-content:center;align-items:center}
p.view-detail.w-clear span{border-radius:4500px;background:#181818;padding:11px 26px;display:inline-flex;color:#fff;text-align:center;font-family:Roboto;font-size:12px;font-style:normal;font-weight:600;line-height:normal;align-items:center;gap:5px}
p.view-detail.w-clear{text-align:center;margin: 20px 0 0px 0;}
.checkHot{position:absolute;left:-4px;top:15px}
p.price-product{display:flex;align-items:center;gap:15px}
.title__categories h2 {
    color: #333;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.ProductList__list {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.title__categories {
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a.view__all__btn {
    border-radius: 10px;
    border: 1px solid #E7E7E7;
    background: #FFF;
    text-decoration: none;
    color: #898989;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 11px 17px;
}
section#Product__Categories {
    background: #F5F5F5;
    padding: 41px 0;
}
section#Product__Categories .wrap-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.Post__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Post__nav h2 {
    color: #333;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.Post__Wrap {
    padding: 30px 0;
}

a.view__all__post {
    border-radius: 4500px;
    background: #D4001B;
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 11px 25px;
}
.w-clear.wrap-detail .title-main {
    margin-top: 2rem;
}
.list-product {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.footer__wrap {}

.title-footer h2 {
    color: #333;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.footer__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.Post__Wrap .wrap-content {
}
.footer__container {
    border-top: 1px solid #CFCFCF;
    padding: 44px 0;
    margin-top: 30px;
    gap: 60px;
}
.power__copyright {
    background: #333;
    text-align: center;
    padding: 20px 0;
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
ul.footer__item__info {
    list-style: none;
}

ul.footer__item__info li {
    display: flex;
    gap: 13px;
}

ul.footer__item__info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title-footer {
    margin-bottom: 22px;
}

ul.footer__item__info li span {
    color: #898989;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 156.25% */
}
ul.police__list {
    list-style: none;
}

ul.police__list li a {
    text-decoration: none;
    color: #898989;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 250% */
}
.footer__item p {
    color: #898989;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
}

.newsletter-input input {
    border-radius: 500px;
    background: #F5F5F5;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25) inset;
    width: 100%;
    height: 50px;
    text-indent: 30px;
    border: unset;
}

.newsletter-input input::placeholder {
    color: #818181;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

form.validation-newsletter {
    margin: 20px 0;
}

.group__submit {
    position: relative;
}

.newsletter-button {
    position: absolute;
    border-radius: 50px;
    background: #D4001B;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
ul.list__social {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
}
.wrap-user{width:100%;max-width:550px;margin:auto;border: 1px solid #181818;border-radius:5px}
.title-user{background-color: #181818;padding:12px 15px;border-radius:5px 5px 0 0;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}
.title-user span{color: #ffffff;}
.title-user a{color: #fff;font-size:12px}
.form-user{padding:20px 15px}
.input-user{margin-bottom:.75rem}
.input-user input{font-size:14px}
.button-user{margin-bottom:1rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}
.button-user input{font-size:14px}
.checkbox-user,.radio-user{cursor:pointer}
.checkbox-user input{top:calc(50% - 1.25rem / 2);height:auto}
.checkbox-user label{font-size:14px;cursor:pointer}
.checkbox-user label::after,.checkbox-user label::before{top:calc(50% - 1rem / 2)}
.radio-user{margin-right:1rem}
.radio-user:last-child{margin-right:0}
.radio-user label::after,.radio-user label::before{top:calc(50% - 1rem / 2)}
.note-user{font-size:14px;border-top:1px solid #ddd;padding-top:.5rem}
input.btn.btn-primary {
    background: #000000;
    border-color: #000000;
}