:root{
  --primary-color: #181818;

}
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}


.wrap-content{
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.header__top {
    background: #181818;
    padding: 12px 0;
}
.header__top p {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.header__middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.middle__right {
    display: flex;
    align-items: center;
    gap: 55px;
}

.middle__right--item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    gap: 7px;
}

.search.w-clear {
    display: flex;
    border-radius: 500px;
    background: #F5F5F5;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25) inset;
    height: 45px;
    align-items: center;
    padding: 0 25px;
    width: 452px;
    justify-content: space-between;
}

.search.w-clear input {
    border: unset;
    height: 100%;
}

.search.w-clear input::placeholder {
    color: #B6B7B9;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.menu ul{width:100%;padding:0;margin:0;list-style:none}
.menu ul.primary-menu{display:flex;align-items:center;width:-moz-fit-content;width:100%;padding:0;margin:0;list-style:none;justify-content: space-between;}
.menu ul.primary-menu>li{text-align:center}
.menu ul.primary-menu>li>a{white-space:nowrap;display:flex;align-items:center;color:#000;font-size:16px;font-style:normal;font-weight:500;padding: 13px 0px;gap:4px;line-height:24px;color: #333;text-align: center;font-family: Roboto;font-size: 16px;font-style: normal;font-weight: 600;line-height: normal;text-transform: uppercase;}
.menu ul li{position:relative;z-index:1}
.menu ul li .d-flex{align-items:center;gap:10px;margin-left:20px}
.menu ul li .d-flex .icon-search i{font-size:20px}
.menu ul li .d-flex .cart{font-size:20px;padding:5px;color:#212529;position:relative}
.menu ul li .d-flex .cart:hover{color:#fb4141}
.menu ul li .d-flex .cart .count-cart{position:absolute;top:0;right:0;color:#fff;width:15px;height:15px;background:#ec2d3f;text-align:center;line-height:15px;font-size:11px;border-radius:100%;z-index:1000}
.menu ul li a{display:block;position:relative;font-size:13px;color:#333;text-decoration:none!important}
.menu ul li a.has-child{padding-right:16px;margin-right:8px}
.menu ul li a.has-child::after{content:"";position:absolute;bottom:calc(50% - 2px);right:5px;width:5px;height:5px;border:1px solid #fafafa;border-top:0;border-left:0;transform:rotate(45deg);transition:all .3s ease-out}
.menu ul li a.active.has-child:after,.menu ul li:hover>a.has-child:after{color:#1e4071}
.menu ul li ul{position:absolute;min-width:250px;background-color:#fafafa;border-radius:.25rem;box-shadow:1px 1px 15px rgba(0,0,0,.15);transform-origin:0 0 0;opacity:0;visibility:hidden;transition:all .5s;top:0}
.menu ul li:hover>ul{opacity:1;visibility:visible;transition:all .5s;top:63px}
.menu ul li ul li{padding-left:.75rem;padding-right:.75rem}
.menu ul li ul li a{border-bottom:1px solid #ececec;color:#1e1e1e;text-align:left;font-family:SVN-Gilroy;font-size:16px;font-style:normal;font-weight:500;line-height:normal;text-transform:capitalize}
.menu ul li ul li:last-child>a{border-bottom:0}
.menu ul li ul li a.has-child{margin-right:0}
.menu ul li ul li a.has-child:after{border-color:#313131;transform:rotate(-45deg)}
.menu ul li ul li a.active,.menu ul li ul li:hover>a{color:#000}
.menu ul li ul li a.active.has-child:after,.menu ul li ul li:hover>a.has-child:after{border-color:#1e4071}
.menu ul li ul li a{padding:15px 0 15px 0;text-transform:capitalize}
.menu ul li ul li ul{top:0;left:100%;margin-top:0}
.menu__contaner {
    background: #FFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-top: 1px solid #B6B7B9;
    margin-top: 10px;
}

ul.primary-menu {}

.slide__container{display:flex;gap: 12px;padding:19px 0 10px 0}
.slide__main{width:calc(100% - 340px);padding-bottom: 10px;}
.slide__subs{width:331px}
.slide__main,.slide__subs{height:100%;box-shadow:none}
.slide__sub{margin-bottom: 12px;}
section.section-slider.position-relative {
    background: url("../images/bg__slide.png");
    background-repeat: no-repeat;
    background-size: cover;
}